<%- include('partials/header') %>

<h2>Trabajos realizados</h2>

<section class="portfolio-grid">

  <% trabajos.forEach(item => { %>
    <article class="portfolio-item">  

      <div class="portfolio-author">
        <div class="portfolio-media">
          <img src="<%= item.author.image %>" alt="<%= item.author.name %>">
        </div>
        <h3><%= item.author.name %></h3>
        <p><%= item.author.role %></p>
      </div>

      <div class="portfolio-book">
        <div class="portfolio-media">
          <img src="<%= item.book.image %>" alt="<%= item.book.title %>">
        </div>
        <h3><%= item.book.title %></h3>
        <p><%= "Género: " + item.book.genre %></p>
      </div>

    </article>
  <% }) %>
</section>

<%- include('partials/footer') %>